<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
    	<ion-button color="dark" fill="outline" (click)="prosesLogout()"><ion-icon slot="end" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 30%;" class="ion-card1; paddings">
    <h1 style="text-align: center;">Mahasiswa</h1>
   <ion-card style="margin: auto; border-radius: 20px;">
    <img class="paddings" src="./assets/images/IF.jpg" alt="" style="border-radius: 500px;">
    <h4 style="text-align: center; padding-left: 5px; padding-right: 5px">100/200</h4>
   </ion-card>
      <h5 style="text-align: center; padding-left: 5px; padding-right: 5px">SUDAH MAGANG</h5>       
  </ion-card>
</ion-content>